<header class="site-header">

<!--
  <div class="wrap">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 18 15" enable-background="new 0 0 18 15" xml:space="preserve">
          <path fill="#505050" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0
            h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#505050" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484
            h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#505050" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0
            c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>
  -->
<h1>Alessandro Cuzzocrea</h1>

<h2>Magician<h2>
<a href="http://twitter.com/rex64_" target="_blank">Twitter</a> | <a href="http://github.com/rex64" target="_blank">GitHub</a> | <script type="text/javascript" language="javascript">

              // Email obfuscator script 2.1 by Tim Williams, University of Arizona
              // Random encryption key feature by Andrew Moulden, Site Engineering Ltd
              // This code is freeware provided these four comment lines remain intact
              // A wizard to generate this code is at http://www.jottings.com/obfuscator/
              { coded = "zfgpF@zGdCCzFfMmRHbbmRMdz.Rmg"
                key = "i6ahgysHodIUS9XlDJt0BFqcM82VPpEzQvLCwmfjuAe1GOW4xkK3R7nY5rZTbN"
                shift=coded.length
                link=""
                for (i=0; i<coded.length; i++) {
                  if (key.indexOf(coded.charAt(i))==-1) {
                    ltr = coded.charAt(i)
                    link += (ltr)
                  }
                  else {     
                    ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                    link += (key.charAt(ltr))
                  }
                }
              document.write("<a href='mailto:"+link+"'>Mail</a>")
              }

              </script><noscript>Sorry, you need Javascript on to email me.</noscript> <br />

<img src="/underconstruction.gif" alt="Under Construction"/> <br />
            <img src="/underconstruction2.gif"/>
<hr>
</header>
