@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700");
body {
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #777;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    text-decoration: none;
}

i,
span,
a {
    display: inline-block;
}

h3 {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: #222;
    margin: 0px;
}

h3 {
    font-size: 28px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #777;
    margin: 0px;
}

.bg_cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


/*===== All Button Style =====*/


/*===== All Preloader Style =====*/


/* Preloader Animations */


/*===========================
    2.HEADER css 
===========================*/

.header-area {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.header-area::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fab2ff;
    background: -webkit-linear-gradient(left, rgba(250, 178, 255, 0.7) 0%, rgba(25, 4, 229, 0.7) 100%);
    background: -o-linear-gradient(left, rgba(250, 178, 255, 0.7) 0%, rgba(25, 4, 229, 0.7) 100%);
    background: linear-gradient(to right, rgba(250, 178, 255, 0.7) 0%, rgba(25, 4, 229, 0.7) 100%);
    z-index: 99;
}

.cb-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.cb-background li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 1;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    background-image: url(../images/background.jpg)
    /* -webkit-animation: imageAnimation 36s linear infinite 0s; */
    /* -moz-animation: imageAnimation 36s linear infinite 0s; */
    /* -o-animation: imageAnimation 36s linear infinite 0s; */
    /* -ms-animation: imageAnimation 36s linear infinite 0s; */
    /* animation: imageAnimation 36s linear infinite 0s;  */
}

.header-card {
    max-width: 560px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 99;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-card {
        max-width: 540px;
    }
}

@media (max-width: 767px) {
    .header-card {
        max-width: 90%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-card {
        max-width: 420px;
    }
}

.header-card .header-card-wrapper {
    background-color: #fff;
    z-index: 999;
    border-radius: 5px;
    overflow: hidden;
}

.header-card .header-card-wrapper .card-header {
    height: 170px;
    width: 100%;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .header-card .header-card-wrapper .card-header {
        height: 200px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .header-card .header-card-wrapper .card-header {
        height: 170px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-card .header-card-wrapper .card-header {
        height: 160px;
    }
}

@media (max-width: 767px) {
    .header-card .header-card-wrapper .card-header {
        height: 90px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-card .header-card-wrapper .card-header {
        height: 140px;
    }
}

.header-card .header-card-wrapper .card-profile {
    max-width: 150px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -75px;
    position: relative;
    z-index: 9;
}

@media only screen and (min-width: 1400px) {
    .header-card .header-card-wrapper .card-profile {
        max-width: 170px;
        margin-top: -85px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-card .header-card-wrapper .card-profile {
        max-width: 150px;
        margin-top: -75px;
    }
}

@media (max-width: 767px) {
    .header-card .header-card-wrapper .card-profile {
        max-width: 100px;
        margin-top: -50px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-card .header-card-wrapper .card-profile {
        max-width: 140px;
        margin-top: -70px;
    }
}

.header-card .header-card-wrapper .card-profile img {
    border-radius: 50%;
    width: 100%;
    padding: 8px;
    background-color: #fff;
}

.header-card .header-card-wrapper .card-content {
    padding: 25px;
}

@media only screen and (min-width: 1400px) {
    .header-card .header-card-wrapper .card-content {
        padding: 30px;
    }
}

@media (max-width: 767px) {
    .header-card .header-card-wrapper .card-content {
        padding: 10px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-card .header-card-wrapper .card-content {
        padding: 20px;
    }
}

.header-card .header-card-wrapper .card-content .card-title {
    font-size: 48px;
    color: #222;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-card .header-card-wrapper .card-content .card-title {
        font-size: 44px;
    }
}

@media (max-width: 767px) {
    .header-card .header-card-wrapper .card-content .card-title {
        font-size: 26px;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-card .header-card-wrapper .card-content .card-title {
        font-size: 36px;
        margin-bottom: 10px;
    }
}

.header-card .header-card-wrapper .card-content .text {
    font-size: 16px;
    padding-bottom: 20px;
}

@media (max-width: 767px) {
    .header-card .header-card-wrapper .card-content .text {
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-card .header-card-wrapper .card-content .text {
        font-size: 15px;
        line-height: 26px;
        padding-bottom: 20px;
    }
}

.header-card .header-card-wrapper .card-social {
    padding-top: 10px;
    padding-bottom: 30px;
}

@media (max-width: 767px) {
    .header-card .header-card-wrapper .card-social {
        padding-top: 5px;
        padding-bottom: 10px;
    }
}

.header-card .header-card-wrapper .card-social ul li {
    display: inline-block;
    margin: 0px 9px;
}

@media (max-width: 767px) {
    .header-card .header-card-wrapper .card-social ul li {
        margin: 0 5px;
    }
}

.header-card .header-card-wrapper .card-social ul li a {
    width: 41px;
    height: 40px;
    line-height: 42px;
    border: solid 1px #dddddd;
    border-radius: 50%;
    font-size: 18px;
    color: #00b9f1;
    /* -webkit-transition: all 0.3s ease-out 0s;
          -moz-transition: all 0.3s ease-out 0s;
          -ms-transition: all 0.3s ease-out 0s;
          -o-transition: all 0.3s ease-out 0s; */
    /* transition: all 0.3s ease-out 0s; */
    position: relative;
    z-index: 5;
    overflow: hidden;
}

.header-card .header-card-wrapper .card-social ul li a::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    padding: 50%;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(0);
    -moz-transform: translate3d(-50%, -50%, 0) scale(0);
    -ms-transform: translate3d(-50%, -50%, 0) scale(0);
    -o-transform: translate3d(-50%, -50%, 0) scale(0);
    transform: translate3d(-50%, -50%, 0) scale(0);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    background-color: #00b9f1;
    z-index: -1;
}

.header-card .header-card-wrapper .card-social ul li a:hover {
    border-color: #00b9f1;
    color: #fff;
}

.header-card .header-card-wrapper .card-social ul li a:hover::before {
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1.5);
    -moz-transform: translate3d(-50%, -50%, 0) scale(1.5);
    -ms-transform: translate3d(-50%, -50%, 0) scale(1.5);
    -o-transform: translate3d(-50%, -50%, 0) scale(1.5);
    transform: translate3d(-50%, -50%, 0) scale(1.5);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
