{{ define "main" }}
    {{ partial "header.html" . }}
    <h1>{{ .Title }}</h1>
    <!-- <h2>{{ .Description }}</h2> -->
    <div>{{ .Content }}</div>
    <!-- <hr> -->
    <div id="projects-container">
        <div>
            <h3>Symbols</h3>
            <img src="symbols.png" width="220" height="80">
            <p>#TODO: Insert description here</p>
            <a target="_blank" href="#TODO: insert url here" rel="noopener" style="margin-right: 0.6em;">App Store</a>
            <a target="_blank" href="https://github.com/alessandrocuzzocrea/symbols" rel="noopener" style="margin-right: 0.6em;">GitHub</a>
        </div>
        <div>
            <h3>Loopy Boy</h3>
            <img src="loopy-boy-ld-47.png" width="220" height="80">
            <p>Game made in 48 hours for the Ludum Dare 47 game jam</p>
            <a target="_blank" href="https://rex64.itch.io/loopy-boy" rel="noopener" style="margin-right: 0.6em;">Site</a>
            <a target="_blank" href="https://github.com/alessandrocuzzocrea/ld-47-stuck-in-a-loop" rel="noopener" style="margin-right: 0.6em;">GitHub</a>
        </div>
        <div>
            <h3>raytracer-ts</h3>
            <img src="raytracer-ts.png" width="220" height="80">
            <p>#TODO: Insert description here</p>
            <a href="https://alessandrocuzzocrea.com/how-i-made-a-ray-tracer/" style="margin-right: 0.6em;">Article</a>
            <a target="_blank" href="https://alessandrocuzzocrea.github.io/raytracer-ts/" rel="noopener" style="margin-right: 0.6em;">Site</a>
            <a target="_blank" href="https://github.com/alessandrocuzzocrea/raytracer-ts/" rel="noopener" style="margin-right: 0.6em;">GitHub</a>
        </div>
        <div>
            <h3>chip-8-emulator-js</h3>
            <img src="chip-8-emulator-js.png" width="220" height="80">
            <p>#TODO: Insert description here</p>
            <a target="_blank" href="https://alessandrocuzzocrea.github.io/chip-8-emulator-js/" rel="noopener" style="margin-right: 0.6em;">Site</a>
            <a target="_blank" href="https://github.com/alessandrocuzzocrea/chip-8-emulator-js/" rel="noopener" style="margin-right: 0.6em;">GitHub</a>
        </div>
        <div>
            <h3>year-in-pixels-react</h3>
            <img src="year-in-pixels-react.png" width="220" height="80">
            <p>#TODO: Insert description here</p>
            <a target="_blank" href="https://alessandrocuzzocrea.github.io/year-in-pixels-react/" rel="noopener" style="margin-right: 0.6em;">Site</a>
            <a target="_blank" href="https://github.com/alessandrocuzzocrea/year-in-pixels-react/" rel="noopener" style="margin-right: 0.6em;">GitHub</a>
        </div>
        <div>
            <h3>tic-tac-toe-ai</h3>
            <img src="tic-tac-toe-ai.png" width="220" height="80">
            <p>#TODO: Insert description here</p>
            <a target="_blank" href="https://github.com/alessandrocuzzocrea/tic-tac-toe-ai/" rel="noopener" style="margin-right: 0.6em;">GitHub</a>
        </div>
        <div>
            <h3>software-renderer</h3>
            <img src="software-renderer.png" width="220" height="80">
            <p>#TODO: Insert description here</p>
            <a target="_blank" href="https://github.com/alessandrocuzzocrea/software-renderer/" rel="noopener" style="margin-right: 0.6em;">GitHub</a>
        </div>
        <div>
            <h3>Yggdrasil</h3>
            <img src="ld48-30-yggdrasil.png" width="220" height="80">
            <p>Game made in 48 hours for the Ludum Dare 30 game jam</p>
            <a target="_blank" href="https://rex64.itch.io/ld48-30" rel="noopener" style="margin-right: 0.6em;">Site</a>
        </div>
    </div>    
{{ end }}
