body {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    color: #6474ED;
}

.article-date {
    font-style: italic;
    color: #8c6e6e;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 1.2rem;
    line-height: 1.4;
}

@media only screen and (min-width: 700px) {
    main {
        margin: 0 auto;
        width: 700px;
    }
}
