// *,
// *:after,
// *:before {
//   margin: 0;
//   padding: 0;
//   -webkit-box-sizing: border-box;
//      -moz-box-sizing: border-box;
//           box-sizing: border-box;
// }

[class*='bit-'] { 
  float: left;
  padding: 10px;
}

[class*='bit-']:last-of-type { 
  //padding-right: 10px; 
  // float: right;
}
 
// Clearfix
.frame:after {
  content: "";
  display: table;
  clear: both;
}

// .row {
//   margin-right: -15px;
//   margin-left: -15px;
// }

// .row:before,
// .row:after{
//   display: table;
//   content: " ";
// }

// .row:after{
//   clear: both;
// }

.bit-1 {width: 1 / 1 * 100%;}
.bit-2 {width: 1 / 2 * 100%;}
.bit-3 {width: 1 / 3 * 100%;}

@media (max-width: 480px) {

	.bit-1,
	.bit-2,
	.bit-3,
	// .bit-4,
	// .bit-5,
	// .bit-6,
	// .bit-7,
	// .bit-8,
	// .bit-9,
	// .bit-10,
	// .bit-11,
	// .bit-12 
	{
		width: 100%;
	}
}

@media (min-width: 768px) {

	.bit-1,
	.bit-2,
	.bit-3,
	{
		width: 50%;
	}
}

@media (min-width: 1200px) {

	.bit-1,
	.bit-2,
	.bit-3,
	{
		width: 1 / 3 * 100%;
	}
}