.header {
    text-align: center;
    margin: 100px;
    * {
        margin-bottom: 20px;
    }
    &-title {
        color: $grigio-scuro;
        font-size: 5.0rem;
    }
    &-subtitle {
        color: $grigio-chiaro;
        font-size: 1.0rem;
    }
    &-links {
        a {
            &:first-child {
                margin-right: 20px;
            }
        }
    }
}

.st0:hover {
    fill: red;
}
