@import 'fonts.scss';
@import 'vars.scss';
// @import 'bootstrap_custom.scss';


body {
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
    width: 100%;
    height: 100%;
}


html, body {
    height: 100%;
}
a {
    color:$link-color;
    text-decoration: none;
}
body {
    margin: 0;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.flex-background {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    // align-items: center;
    // justify-content: space-evenly;
    flex-direction: column;
    // background-color: red;
    justify-content: space-between;
  }
// .row {
//     width: auto;
//     border: 1px solid blue;
// }
.flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: tomato;
    // padding: 5px;
    // border: 2px solid $link-color;
    width: 100%;
    height: 16%;
    // margin: 10px;
    // line-height: 20px;
    // background-color: red;
    // font-weight: bold;
    font-size: 2em;
    // text-align: center;
}

.child-top-left {
   width: 300px;
   height: 400px;
   background-image: linear-gradient(
     127deg,
     $yellow 20px,
     $blue 20px 40px,
     $yellow 40px 60px,
     $blue 60px 80px,
     $yellow 80px 100px,
     $blue 100px
   );
 }
 
 .child-bottom-right{
   // transform: ;
   transform: scaleY(-1);
   order: 1;
   flex: 0 1 auto;
   align-self: flex-end;
   width: 300px;
   height: 400px;
 
   background-image: linear-gradient(
     -127deg,
     $yellow 20px,
     $blue 20px 40px,
     $yellow 40px 60px,
     $blue 60px 80px,
     $yellow 80px 100px,
     $blue 100px
   );
 }