body{
	font-family: 'Roboto', sans-serif; 
	//font-family: "Comic Sans MS", cursive, sans-serif;
}

.frame {
   //border: 4px solid black;
   padding-top: 1rem;
   padding-bottom: 1rem;
}

.center-content {
  text-align: center;
}