<head>
    <meta name="title" content="{{ .Title }}">
    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
    <meta name="keywords" content="alessandro, cuzzocrea, software, engineer, tokyo, japan">
    {{ if .Params.noindex }}
    <meta name="robots" content="noindex" />
    {{ else }}
    <meta name="robots" content="index, follow">
    <meta name="robots" content=”max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    {{ end }}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Alessandro Cuzzocrea">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Open Graph -->
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:site_name" content="{{ $.Site.Title }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
    <meta property="og:type" content="{{ if .IsHome }}{{"profile"}}{{else}}{{"article"}}{{end}}">
    {{ if .Params.og_image -}}
        {{- $path := .Permalink -}}
        {{- $file := .Params.og_image -}}
        {{- $url := print $path $file -}}
        {{- $width := .Params.og_image_width -}}
        {{- $height := .Params.og_image_height -}}
        <meta property="og:image" content="{{ $url }}">
        <meta property="og:image:width" content="{{ $width }}">
        <meta property="og:image:height" content="{{ $height }}">
    {{ else }}
        <meta property="og:image" content="{{ "/images/profile_og.jpg" | absURL }}">
    {{ end -}}

    <!-- twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@{{$.Site.Params.twitter}}" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
    {{ if .Params.og_image -}}
        {{- $path := .Permalink -}}
        {{- $file := .Params.og_image -}}
        {{- $url := print $path $file -}}
        <meta name="twitter:image" content="{{ $url }}" />
    {{ else }}
        <meta name="twitter:image" content="{{ "/images/profile_og.jpg" | absURL }}" />
    {{ end -}}

    <title>{{ .Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}"/>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    {{ range .AllTranslations }}
    <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" />
    {{ end }}
    
    {{ range .AllTranslations }}
    {{ if eq (string .Lang) "en" }}
    <link rel="alternate" hreflang="x-default" href="{{ .Permalink }}" />
    {{ end }}
    {{ end }}

    <!-- Structured Data -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "Person",
            "name": "Alessandro Cuzzocrea",
            "familyName": "Cuzzocrea",
            "givenName": "Alessandro",
            "jobTitle": "Software Engineer",
            "url": "http://alessandrocuzzocrea.com",
            "image": "https://alessandrocuzzocrea.com/images/profile.jpg",
            "sameAs": [
                "https://github.com/alessandrocuzzocrea",
                "https://twitter.com/alessacrea",
                "https://www.instagram.com/alessacrea/",
                "https://www.linkedin.com/in/alessandrocuzzocrea",
                "http://facebook.com/alessandrocuzzocrea",
                "https://www.pinterest.com/alessacrea/"
            ]
        }
    </script>

    {{ with resources.Get "scss/main.scss" | toCSS | minify }}
        <style>{{ .Content | safeCSS }}</style>
    {{ end }}
</head>
