{{ "<!-- ENTERING partial seo-schema.html -->" | safeHTML }}
{{ if .IsHome }}
<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Person",
        "name": "Alessandro Cuzzocrea",
        "familyName": "Cuzzocrea",
        "givenName": "Alessandro",
        "jobTitle": "Software Engineer",
        "url": "http://alessandrocuzzocrea.com",
        "image": "https://alessandrocuzzocrea.com/images/profile.jpg",
        "sameAs": [
            "https://github.com/alessandrocuzzocrea",
            "https://twitter.com/alessacrea",
            "https://www.instagram.com/alessacrea/",
            "https://www.linkedin.com/in/alessandrocuzzocrea",
            "http://facebook.com/alessandrocuzzocrea",
            "https://www.pinterest.com/alessacrea/"
        ]
    }
</script>
{{ else if eq .Type "post"}}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": "{{ .Title }}",
        "image": "https://alessandrocuzzocrea.com/ludum-dare-47/og_image.png",  
        "author": {
          "@type": "Person",
          "name": "Alessandro Cuzzocrea"
        },  
        "publisher": {
          "@type": "Organization",
          "name": "Alessandro Cuzzocrea",
          "logo": {
            "@type": "ImageObject",
            "url": "https://d33wubrfki0l68.cloudfront.net/20adc4c72669a449c963238003018d8e0181fbf8/b73af/images/profile.jpg"
          }
        },
        "datePublished": "2021-03-12"
      }
</script>
{{ end }}

{{ "<!-- LEAVING partial seo-schema.html -->" | safeHTML }}
