{{ if .IsHome }}
<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Person",
        "name": "Alessandro Cuzzocrea",
        "familyName": "Cuzzocrea",
        "givenName": "Alessandro",
        "jobTitle": "Software Engineer",
        "url": "http://alessandrocuzzocrea.com",
        "image": "https://alessandrocuzzocrea.com/images/profile.jpg",
        "sameAs": [
            "https://github.com/alessandrocuzzocrea",
            "https://twitter.com/alessacrea",
            "https://www.instagram.com/alessacrea/",
            "https://www.linkedin.com/in/alessandrocuzzocrea",
            "http://facebook.com/alessandrocuzzocrea",
            "https://www.pinterest.com/alessacrea/"
        ]
    }
</script>
{{ else if eq .Type "post"}}
{{- $path := .Permalink -}}
{{- $file := .Params.og_image -}}
{{- $imgUrl := print $path $file -}}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": "{{ .Title }}",
        "image": {{ $imgUrl }},  
        "author": {
          "@type": "Person",
          "name": "Alessandro Cuzzocrea"
        },
        "datePublished": {{.Date.Format "2006-01-02"}}
      }
</script>
{{ end }}
