{% macro card(project) %}
<!-- FEATURE 1 -->
<div class="bit-1">
        <div id="{{ project.id }}" class="feature">
            <!-- <div>  -->
            
            
            <img src="/hypermazearcade.png">
            <!-- <div>{{ project.title }}</div> -->
            <div class="feature-description">{{ project.description }}</div>
	            <div class="feature-links">
	            	{% for text, link in project.links %}
		            	<a href="{{ link }}">{{ text }}</a>
		            {% endfor %}	
	            </div>
            <!-- </div> -->
        </div>
</div>
{% endmacro %}
