{% macro card(project) %}
<!-- FEATURE 1 -->
<div class="bit-1">
        <div id="{{ project.id }}" class="feature">
          <!--   <div class="bit-1">
                <h2 class="feature-title">{{ project.title }}</h2></div> -->
            <div> 
            
            
            <img src="/hypermazearcade.png">
            <div>{{ project.description }}</div>
	            <div class="feature-links">
	            	{% for text, link in project.links %}
		            	<a href="{{ link }}">{{ text }}</a>
		            {% endfor %}	
	            </div>
            </div>
            <!-- <div class="bit-2">
                <p>{{ project.description }}</p>
            </div> -->
        </div>
</div>
{% endmacro %}
