{{ define "main" }}
<div class="info">
    <picture>
        <source srcset="/images/profile.webp" type="image/webp">
        <img class="profile" src="/images/profile.jpg" alt="Alessandro Cuzzocrea">
    </picture>
    <h1>ALESSANDRO CUZZOCREA</h1>
    <h2>{{ $.Site.Params.homePageDescription }}</h2>
    <ul>
        <li><a href="javascript:window.location.href='mailto:'+atob('{{$.Site.Params.authorEmail}}');">Email</a></li>
        <li><a target="_blank" href="https://github.com/{{$.Site.Params.authorGithub}}" rel="noopener noreferrer">GitHub</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/{{$.Site.Params.authorLinkedin}}" rel="noopener noreferrer">LinkedIn</a></li>
    </ul>
</div>
<hr>
<div>{{$.Site.Params.recentPosts}}</div>
    {{ $currLanguage := (string .Site.Language) }}
    {{ $enSite := index .Sites 0 }}
    {{ $pages := .Site.RegularPages | lang.Merge $enSite.RegularPages }}
    {{ range $pages }}
        <li>
            <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} {{ if and (not (eq (string .Language) $currLanguage)) (eq (string .Language) "en") }} (英語) {{ end }} {{.Title}}</a>
        </li>
    {{ end }}
{{ end }}
