{{ define "main" }}
<div class="info">
    <picture>
        <source srcset="/images/profile.webp" type="image/webp">
        <img class="profile" src="/images/profile.jpg" alt="Alessandro Cuzzocrea">
    </picture>
    <h1>Alessandro Cuzzocrea</h1>
    <h2>{{ $.Site.Params.homePageDescription }}</h2>
    <ul>
        <li><a href="javascript:window.location.href='mailto:'+atob('{{$.Site.Params.authorEmail}}');">Email</a></li>
        <li><a target="_blank" href="https://github.com/{{$.Site.Params.authorGithub}}" rel="noopener">GitHub</a></li>
        <li><a target="_blank" href="https://twitter.com/{{$.Site.Params.twitter}}" rel="noopener">Twitter</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/{{$.Site.Params.authorLinkedin}}" rel="noopener">LinkedIn</a></li>
        <li><a href="{{ "/projects/" | relLangURL }}">Projects</a></li>
    </ul>
</div>
<!-- <hr> -->
<div id="home-recent-posts">
    <p>{{$.Site.Params.recentPosts}}</p>
    {{ $currLanguage := (string .Site.Language) }}
    {{ $enSite := index .Sites 0 }}
    {{ $pages := .Site.RegularPages | lang.Merge $enSite.RegularPages }}
    <ul>
    {{ $year := 0 }}
    {{ range where $pages "Type" "post" }}
        {{ if not (eq (.Date.Format "2006") $year) }}
            {{ $year = .Date.Format "2006" }}
            <li>{{ $year }}</li>
        {{ end }}
        <li class="article-link">
            <a href="{{.Permalink}}">{{ if and (not (eq (string .Language) $currLanguage)) (eq (string .Language) "en") }} {{ end }} {{.Title}} </a>
        </li>
    {{ end }}
    </ul>
</div>
{{ end }}
