{{ define "main" }}
<div class="info">
    <picture>
        <source srcset="images/profile.webp" type="image/webp">
        <img class="profile" src="/images/profile.jpg" alt="Alessandro Cuzzocrea">
    </picture>
    <h1>ALESSANDRO CUZZOCREA</h1>
    <h2>{{ $.Site.Params.homePageDescription }}</h2>
    <ul>
        <li><a href="javascript:window.location.href='mailto:'+atob('{{$.Site.Params.authorEmail}}');">Email</a> -</li>
        <li><a target="_blank" href="https://github.com/{{$.Site.Params.authorGithub}}" rel="noopener noreferrer">GitHub</a> -</li>
        <li><a target="_blank" href="https://www.linkedin.com/in/{{$.Site.Params.authorLinkedin}}" rel="noopener noreferrer">LinkedIn</a></li>
    </ul>
</div>
<hr>
<div>Recent Posts</div>
    {{ range .Site.RegularPages }}
        <li>
            <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} {{.Title}}</a>
        </li>
    {{ end }}
{{ end }}
