<IfModule mod_rewrite.c>
RewriteEngine on

#RewriteCond %{REQUEST_FILENAME} !-f       # if the requested URL is not a file that exists
#RewriteCond %{REQUEST_FILENAME} !-d       # and it isn't a directory that exists either
#RewriteCond %{REQUEST_FILENAME}\.html -f  # but when you put ".html" on the end it is a file that exists
#RewriteRule ^(.+)$ $2\.html [QSA]         # then serve that file

RewriteCond %{REQUEST_FILENAME}.php -f [NC]
RewriteRule ^ %{REQUEST_URI}.php [L]

</IfModule>
